<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <!-- base-package로 시작하는 모든 패키지를 스캔 대상에 포함. -->

   <context:component-scan base-package="com.springbook.biz"></context:component-scan>
   
   <!-- 어노테이션 기반 AOP 설정 -->
   <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
   <!-- 선언만 하면 스프링 컨테이너는 AOP관련 어노테이션들을 인식하고 용도에 맞게 처리 -->
      
   
</beans>

